@font-face {
    font-family: sans-serif;
    src: url(assets/fonts/FuturaLT-HeavyOblique-2.ttf);
}

* {
    font-weight: 500;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
}

body {
    background-image: radial-gradient(black 69%, rgb(187, 248, 65));
    padding-bottom: 35px;
}


footer{
    text-align: center;
    font-size: 10px;
    color: whitesmoke;
}

h2 {
    font-size: 35px;
    text-align: center;
}

li, a {
    font-size: 16px;
}

.nav-btns {
    list-style: none;
}

.nav-btns li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-btns li a {
    transition: all 0.3s ease 0s;
}

.nav-btns li a:hover {
    color: yellowgreen;
}

img{
    display: block;
    margin: 0px auto;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    margin: 40px;
}

h4 {
    text-align: center;
    margin: 24px;
}

p {
    text-align: center;
}
.profile-pic {
    width: 19%;
    border-radius: 35px;
}

.firstProject {
    margin: 0px auto;
    width: fit-content;
    border: 2px solid rgb(106, 100, 100);
}

div img {
    width: 500px;
    margin: 0px auto;
}

.small-projects {
    display: flex;
    padding-bottom: 75px;
}

div .project-2,
div .project-3,
div .project-4,
div .project-5,
div .project-6 {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(106, 100, 100);
    background-color: indigo;
}

.about-me {
    width: fit-content;
    padding: 10px;
    margin-bottom: 175px;
    border: 5px solid rgb(140, 209, 23);
    background-color: black;
    color: rgb(11, 243, 42);
}

@media all and (max-width: 375px) {
    body {
        background-image: radial-gradient(black 69%, rgb(187, 248, 65));
        padding-bottom: 35px;
    }

}